<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Conway.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52670FCB13E8B40B009CF4F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52670FEC13E8B40C009CF4F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5267100813E9F300009CF4F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5267101A13EAEECA009CF4F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
